<h1>Hello World!</h1>
<br>
<br>

<% if user_signed_in? %>
  <p>
    <h2>User Profile</h2>
  </p>
  <ul>
    <% current_user.attributes.each do |u| %>
        <li><%= "#{u.first}, #{u.last}" %></li>
    <% end %>
  </ul>

   <li>
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
   </li>
<% else %>
  <p>No user is logged in.</p>
  <br>
  <br>
  <br>
  <li><%= link_to "Sign in with Mobile Connect", user_omniauth_authorize_path(:etalio) %></li>
<% end %>
